:root {
  --c-brand: #0089eb;
  --c-brand-light: #0798ff;
  overflow-y: scroll;
}

.nav-bar .logo {
  height: 25px;
  margin-right: 0.5rem;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.vp-doc div[class*='language-'] {
  color-scheme: dark;
}
