name: build

on:
  push:
    branches:
    - master
    - next
  pull_request:
    branches:
    - master
    - next

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: install, lint
      run: |
        yarn install --frozen-lockfile
        yarn lint --no-fix
    - name: tsc
      run: |
        yarn types:check

    - name: test
      run: |
        yarn test:compat
